/* ==========================General ==========================*/
body {
  font-family: 'Roboto', sans-serif;
  font-family: 'Raleway', sans-serif;
  color: #212121;
  font-weight: 400;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
p {
  padding: 0;
}
img {
  display: block;
}
/*========================== header ==========================*/

.contact {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14285714;
  border: 1px solid rgba(236, 236, 236, 1);
}
.contact-adress {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14285714;
}
.banner {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19230769;
  text-decoration: none;
  color: #212121;
  margin-right: 93px;
  display: flex;
  align-items: center;
}

/*========================== main ==========================*/

.titlecontainer {
  width: 654px;
  height: 120px;
  margin: auto;
  margin-bottom: 15px;
  padding-top: 200px;
}
.title {
  background-color: #2f303a;
  height: 600px;
}
#title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.5;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}
.headclass {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14285714;
  text-transform: uppercase;
  width: 270px;
  height: 16px;
}
.description {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71428571;
  color: #757575;
  margin-top: 10px;
  margin-bottom: 94px;
  width: 270px;
  height: 75px;
}
.features {
  display: flex;
  margin-top: 94px;
  justify-content: space-between;
}
.portfolio {
  display: flex;
  justify-content: space-between;
  margin-bottom: 94px;
}
.midhead {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16666667;
  margin-bottom: 50px;
  text-align: center;
}
#team {
  padding-top: 94px;
}
.crew {
  display: flex;
  flex-wrap: nowrap;
  gap: 30px;
  justify-content: center;
}
.back {
  background-color: #f5f4fa;
}
.name {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.875;
  background-color: #ffffff;
  margin-top: 30px;
}
.job {
  font-family: 'Roboto';
  font-style: normal;
  font-size: 16px;
  line-height: 1.875;
  color: #757575;
  background-color: #ffffff;
}
.card {
  width: 270px;
  height: 368px;
  background-color: #ffffff;
  text-align: center;
  margin: 0px;
  margin-bottom: 94px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

/*========================== footer ==========================*/

.bottom {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.highlightbottom {
  color: #ffffff;
}
.highlightbottom:visited {
  color: #ffffff;
}
.highlightbottom:hover,
.highlightbottom:focus {
  color: #2196f3;
}
.container .example {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 50px;
  justify-content: space-between;
}
.example-img {
  margin: 0px;
  border: 1px solid rgba(238, 238, 238, 1);
}
.example:last-child {
  margin-bottom: 94px;
}
/*========================== component ==========================*/
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.menuport {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 94px;
}
.menuadress:first-child {
  margin-left: 371px;
}
.menuadress:last-child {
  margin-left: 50px;
}
.menu {
  display: flex;
  align-items: center;
}
.menuitem:not(:first-child) {
  margin-left: 46px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #212121;
}
.menuitem {
  padding-top: 32px;
  padding-bottom: 32px;
}

.containerflex {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.highlight {
  color: #2196f3;
}
.highlightbanner {
  color: #ffffff;
}
.highlightbanner:visited {
  color: #ffffff;
}
.projectex {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  text-align: left;
  margin-left: 24px;
  margin-top: 20px;
}
.info {
  font-family: 'Roboto';
  font-style: normal;
  font-size: 16px;
  line-height: 1.875;
  color: #757575;
  text-align: left;
  margin-left: 24px;
}
.highlightbottom {
  color: #ffffff;
}
.highlightbottom:visited {
  color: #ffffff;
}
.highlightbottom:hover,
.highlightbottom:focus {
  color: #2196f3;
}
.adress:visited {
  color: #757575;
}
.adress:hover,
.adress:focus {
  color: #2196f3;
}
.adress {
  color: #757575;
  text-decoration: none;
}

.link:visited {
  color: #212121;
}
.link:hover,
.link:focus {
  color: #2196f3;
}
.link {
  text-decoration: none;
}
/*========================== buttons ==========================*/
.button:hover,
.button:focus {
  background-color: #2196f3;
  color: #ffffff;
}
.button {
  cursor: pointer;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  border: 0px;
  background-color: rgba(245, 244, 250, 1);
}
.button.menuport-list {
  height: 38px;
  padding: 6px 22px;

  border-radius: 4px;
}
#orderbutton:hover,
#orderbutton:focus {
  background-color: #2196f3;
  color: #ffffff;
}
#orderbutton {
  cursor: pointer;
  background: #2196f3;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: block;
  width: 200px;
  height: 50px;
  margin: auto;
}
